#myVideo {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
     
}

.video_contain {
  position: absolute;
  top: 50%; left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  
}

video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -25%);
}

.content {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    
}
.Aligner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    
}
  
.Aligner-item {
  flex: 1;
  text-align: center;
}
