* { padding: 0; margin: 0; }

html{
  height: 100%;
}
html, body{
    min-height: 100% !important;
    
}

@font-face {
  font-family: Gloobefam;
  src: local(Ikaros), url("../font/Ikaros.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: Gloobefam;
  src: url(../font/Neoteric_B.ttf);
  font-weight: bold;
  font-style: normal;
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  h2{
    font-family: Gloobefam;
    font-weight: bold;
    font-size: 10vw;
  }
  p{
    font-family: Gloobefam;
    font-weight: normal;
    font-size: 4vw;
  }
  .img-item{
    position: relative;
    height: 0;
    padding-bottom: 40%;
  }
  .img-back{
    object-fit: cover;
    object-position: center;
  }

}
/* Desktop */
@media screen and (min-width: 768px) {
  h2{
    font-family: Gloobefam;
    font-weight: bold;
    font-size: 5vw;
  }
  p{
    font-family: Gloobefam;
    font-weight: normal;
    font-size: 1.5vw;
  }
  .img-item{
    position: relative;
    height: 0;
    padding-bottom: 20%;
  }
  .img-back{
    object-fit: cover;
    object-position: center;
  }
}


.full-width{
  margin: 0;
  padding: 0;
  width: 100%;
}

.mh-50{max-height:50%!important}
.height-padding-5{padding-top: 5vw;padding-top: 5vw;}

.owl-carousel > .owl-stage-outer > .owl-stage >.owl-item{
  height: 100%;
}

.carousel-title{
  height: 100%;
  width: 100%;
  /*background-color: rgba(0, 0, 0, 0.75);*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-background {
  
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.parallax{
  background-attachment: fixed;
}


.my-navbar{
  border: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);

}
.darker{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
