/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.mySlides1 {display: none;}
.mySlides1{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed;
    
}

